.search-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 50%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  &__text {
    border: none;
    border-radius: 0.4rem;
    outline: none;
    flex-basis: 75%;
    padding: 0.8rem;
  }

  &__filter {
    height: 0px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    max-width: 600px;
    transition: height 0.3s ease-in, transform 0.5s ease-in-out,
      opacity 0.3s ease-in;
    transform: translateY(-200%);

    &--active {
      height: 200px;
      transform: translateY(0);
      opacity: 100;
    }
  }

  &__button {
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.5rem;

    &--primary {
      background-color: var(--main-green);
      color: var(--white-smoke);
    }
  }
}
