.search-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 50%;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-s);
    &--mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    &--justify-between {
      justify-content: space-between;
    }
    &--justify-center {
      justify-content: center;
    }

    &--flex-column {
      flex-direction: column;
    }
    &--mw-600 {
      max-width: 600px;
    }
    &--no-wrap {
      flex-wrap: nowrap;
    }
    &--w-50 {
      width: 50%;
    }
  }

  &__text {
    border: none;
    border-radius: 0.4rem;
    padding: var(--size-m);
    &--size-xs {
      padding: var(--size-xs);
    }
    &--size-s {
      padding: var(--size-s);
    }

    &--w-75 {
      width: 80%;
    }
  }

  &__filter {
    background-color: var(--main-gray);
    border-radius: var(--size-s);
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--size-m);
    padding: var(--size-l);

    &--active {
      display: block;
    }
  }

  &__button {
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.5rem;

    &--primary {
      background-color: var(--main-green);
      color: var(--white-smoke);
    }
  }
}
