.status {
  display: flex;
  align-items: center;
  &__icon {
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.2rem;

    &--online {
      background-color: var(--main-green);
    }

    &--offline {
      background-color: var(--main-red);
    }

    &--unknown {
      background-color: var(--main-gray);
    }
  }
}
